## The program to Get me the stats of my performance in the tests taken by me

Set the values right

In [1]:
name='CS_Key'
year=2018
# entered in by file picker from GUI
file=f'prev_yr_papers/{str(year)}/{name}.pdf'

The main generate Score functionality

Input/Output

In [2]:
import pandas as pd
myAnswers=['B','A','D','C','B','B','C','B','A','C','D','D','B','D','*','','','','A','B',
           'B','D','','','0.2836','0.289','3','3','*','4','3','','*','2','','*','*','',
           'C','B','A','B','C','B','','','','','A','C','C','*','*','0.6','10230','40',
           '4','28','*','219','*','85','','']
# print("Enter your answers :")
# for i in range(65):
#     myAnswers.append([input(f"{i+1})")])
# Get the Answers in real time from the GUI of the GateStat app
# Add a column of marked to myAnswers ...
myAnswers = pd.DataFrame(myAnswers,columns=['Ans'])

Get anskey data into the pickle file (1st time run only)

Import everything and convert to pickle after getting data from table

In [3]:
myAnswers

    Ans
0     B
1     A
2     D
3     C
4     B
..  ...
59  219
60    *
61   85
62
63

[64 rows x 1 columns]

In [4]:
import tabula as tb
import functools as ft

# ansKey = tb.read_pdf(file, pages = "all", multiple_tables = True)
# ansKey = ft.reduce( lambda a,b: pd.concat([a,b],axis=0), ansKey )
# ansKey = ansKey.reset_index(drop=True)
# print(ansKey)
# ansKey.to_pickle(f'db/{str(year)}/{name}.pkl')

Get data from Pickle File

In [5]:
try:
    ansKey = pd.read_pickle(f'db/{str(year)}/{name}.pkl')
    ansKey = ansKey.rename(columns={'Key/Range':'Key'}) #some of them might not be the same name as Key/Range
    print('File reading success!!')
except :
    print('pickle file not found!\nExiting...')
    exit(-1)

File reading success!!

Run only once or there will be duplicate columns

In [6]:
ansKey = pd.concat([ansKey,myAnswers],axis=1);ansKey

    Q.No. Type Section         Key  Marks  Ans
0       1  MCQ      GA           B      1    B
1       2  MCQ      GA           A      1    A
2       3  MCQ      GA           D      1    D
3       4  MCQ      GA           C      1    C
4       5  MCQ      GA           B      1    B
..    ...  ...     ...         ...    ...  ...
60     51  NAT      CS    32 to 32      2    *
61     52  NAT      CS      2 to 2      2   85
62     53  NAT      CS    85 to 85      2
63     54  NAT      CS  144 to 144      2
64     55  NAT      CS    50 to 50      2  NaN

[65 rows x 6 columns]

Build the scoreCard for me

In [7]:
import re
def regexMagic(keyItem) :
    f = re.split('\\s+to\\s+',keyItem)
    return [float(i) for i in f]

In [8]:
def generateCode(Key,Ans) :
    '''
    RUBRIC BREAKDOWN
    ~~~~~~~~~~~~~~~~
    * Needs Improvement Area (Code -1)
        |->Wrong Answers
    * Your Potentially Solveable Area (Code 2)
    * Questions Unattempted (Code 0)
    * Correct (Code 1)
    '''
    if  Ans is '' :
        return 0
    elif Ans is '*':
        return 2
    if Key.isalpha() :
        if Ans.lower() == Key.lower() :
            return 1
        else :
            return -1
    else :
        l,h = regexMagic(Key)
        if l <= float(Ans) <= h :
            return 1
        else :
            return -1
    return Key

In [9]:
Code = ansKey.apply(lambda x : generateCode(x['Key'],x['Ans']), axis=1).rename('Code')
marksheet = pd.concat([ansKey,Code],axis=1)
marksheet.tail(40)

    Q.No. Type Section             Key  Marks    Ans  Code
25     16  NAT      CS    0.27 to 0.30      1  0.289     1
26     17  NAT      CS          3 to 3      1      3     1
27     18  NAT      CS          3 to 3      1      3     1
28     19  NAT      CS        42 to 42      1      *     2
29     20  NAT      CS          4 to 4      1      4     1
30     21  NAT      CS          4 to 4      1      3    -1
31     22  NAT      CS          2 to 2      1            0
32     23  NAT      CS    59.0 to 60.0      1      *     2
33     24  NAT      CS          2 to 2      1      2     1
34     25  NAT      CS        34 to 35      1            0
35     26  MCQ      CS               D      2      *     2
36     27  MCQ      CS               D      2      *     2
37     28  MCQ      CS               A      2            0
38     29  MCQ      CS               A      2      C    -1
39     30  MCQ      CS               A      2      B    -1
40     31  MCQ      CS               C      2      A    -1
41     32  MCQ      CS               B      2      B     1
42     33  MCQ      CS               C      2      C     1
43     34  MCQ      CS               B      2      B     1
44     35  MCQ      CS               B      2            0
45     36  MCQ      CS               D      2            0
46     37  MCQ      CS               D      2            0
47     38  MCQ      CS               A      2            0
48     39  MCQ      CS               A      2      A     1
49     40  MCQ      CS               C      2      C     1
50     41  MCQ      CS               C      2      C     1
51     42  MCQ      CS               B      2      *     2
52     43  NAT      CS      109 to 109      2      *     2
53     44  NAT      CS    0.60 to 0.62      2    0.6     1
54     45  NAT      CS  10230 to 10230      2  10230     1
55     46  NAT      CS        80 to 80      2     40    -1
56     47  NAT      CS          4 to 4      2      4     1
57     48  NAT      CS        16 to 16      2     28    -1
58     49  NAT      CS          3 to 3      2      *     2
59     50  NAT      CS      219 to 219      2    219     1
60     51  NAT      CS        32 to 32      2      *     2
61     52  NAT      CS          2 to 2      2     85    -1
62     53  NAT      CS        85 to 85      2            0
63     54  NAT      CS      144 to 144      2            0
64     55  NAT      CS        50 to 50      2    NaN    -1

In [10]:
print(marksheet.describe())

           Q.No.      Marks       Code
count  65.000000  65.000000  65.000000
mean   24.538462   1.538462   0.584615
std    16.875534   0.502398   0.933614
min     1.000000   1.000000  -1.000000
25%     9.000000   1.000000   0.000000
50%    23.000000   2.000000   1.000000
75%    39.000000   2.000000   1.000000
max    55.000000   2.000000   2.000000

In [16]:
def findParameters(marksheet):
    mpot=0; mcorr=0; mincorr=0;
    npot=0; ncorr=0; nincorr=0;
    
    def iterate(code,mark):
        nonlocal mpot,mcorr,mincorr,npot,ncorr,nincorr 
        #for refering to the variables immediately outside (similar to global)
        if code is 1 : 
            mcorr+=mark
            ncorr+=1
        elif code is 2 : 
            mpot+=mark
            npot+=1
        elif code is -1 : 
            mincorr+=mark
            nincorr+=1
#     print(marksheet)
    marksheet.apply(lambda x : iterate(x['Code'],x['Marks']),axis=1)
    return [mpot,mcorr,mincorr,npot,ncorr,nincorr]

In [12]:
findParameters(marksheet)

    Q.No. Type Section         Key  Marks  Ans  Code
0       1  MCQ      GA           B      1    B     1
1       2  MCQ      GA           A      1    A     1
2       3  MCQ      GA           D      1    D     1
3       4  MCQ      GA           C      1    C     1
4       5  MCQ      GA           B      1    B     1
..    ...  ...     ...         ...    ...  ...   ...
60     51  NAT      CS    32 to 32      2    *     2
61     52  NAT      CS      2 to 2      2   85    -1
62     53  NAT      CS    85 to 85      2          0
63     54  NAT      CS  144 to 144      2          0
64     55  NAT      CS    50 to 50      2  NaN    -1

[65 rows x 7 columns]

[15, 46, 18, 9, 31, 11]

In [13]:
def StatGenerator(marksheet):    
    mpot,mcorr,mincorr,npot,ncorr,nincorr = findParameters(marksheet)
    # divide by zero error happens for some values
    
    tot         = mcorr - mincorr/3                        # Total Score     
    potential   = mpot + mcorr + mincorr                   # Total Potential 
    scorable    = mincorr + mcorr                          # Total Scoreable 
    quality     = ncorr/(ncorr+nincorr)*100                # Attempt Quality 
    attempt_m   = tot/scorable*100                         # Attempt Yeild   
    potential_m = tot/potential*100                        # Potential Yeild 
    unused_m    = (mincorr + mpot)/potential*100           # Unused Potential(yeild) 
    unused_n    = (nincorr+npot)/(npot+ncorr+nincorr)*100  # Unused Potential(no)    
    
    return [ tot,
    potential,
    scorable,
    quality,
    attempt_m,
    potential_m,
    unused_m,
    unused_n ]

In [19]:
def findStat(marksheet):
    '''
    Total Score             (tot)      : mcorr - mincorr/3
    Total Potential (potential)        : mpot + mcorr + mincorr
    Total Scoreable (scorable)         : mincorr + mcorr
    Attempt Quality (quality)          : ncorr/(ncorr+nincorr)
    Attempt Yeild   (attempt_m)        : tot/scorable
    Potential Yeild (potential_m)      : tot/potential
    Unused Potential(yeild) (unused_m) : (mincorr + mpot)/potential
    Unused Potential(no)    (unused_n) : (nincorr+npot)/(npot+ncorr+nincorr)
    '''
    # first convert the marksheet into aptitude and cs divisions
    
    mask = marksheet.Section.str.contains(pat='.*CS.*')
    # Identify and find the CS Section
    Cs = marksheet[mask]
    Apti = marksheet[~mask]
    
    csStat = StatGenerator(Cs)
    aptiStat = StatGenerator(Apti)
    totStat = StatGenerator(marksheet)
    return [csStat,aptiStat,totStat]
    

results = pd.DataFrame(findStat(marksheet),
             
             index=['CS','Apti','Total'],
             
             columns=['Total Score',
                    'Total Potential',
                    'Total Scoreable',
                    'Attempt Quality [%]',
                    'Attempt Yeild [%]',
                    'Potential Yeild [%]',
                    'Unused Potential(yeild) [%]',
                    'Unused Potential(no) [%]']
            ).transpose()

In [20]:
results

                                    CS   Apti      Total
Total Score                  25.000000   15.0  40.000000
Total Potential              64.000000   15.0  79.000000
Total Scoreable              49.000000   15.0  64.000000
Attempt Quality [%]          65.625000  100.0  73.809524
Attempt Yeild [%]            51.020408  100.0  62.500000
Potential Yeild [%]          39.062500  100.0  50.632911
Unused Potential(yeild) [%]  51.562500    0.0  41.772152
Unused Potential(no) [%]     48.780488    0.0  39.215686

### REFERENCE CODE(s) :
```
# Stack the DataFrames on top of each other
vertical_stack = pd.concat([survey_sub, survey_sub_last10], axis=0)

# Place the DataFrames side by side
horizontal_stack = pd.concat([survey_sub, survey_sub_last10], axis=1)

# tabula.convert_into(file, "key.csv",pages='all')
# tables :=list of pandas dataframe(s)

```